<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       <h1>List A Space</h1>
      <form class="user-forms" method="POST" action="/spaces">
        <input type="text" name="title" placeholder="title" required><br />
        <input type="text" name="location" placeholder="location" required><br />
        <input type="number" name="price" placeholder="price" required><br />
        <input type="text" name="description" placeholder="description" required><br />
        <input type="text" name="tv_show" placeholder="tv_show" required><br />
        <input type="text" name="available_from" placeholder="available_from" required><br />
        <input type="text" name="available_to" placeholder="available_to" required><br />
        <input type="hidden" name="user_id" value="{{ session['user_id']}}" /><br />
        <button type="submit">List Your Space</button>
      </form>
</body>
</html>