<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <title>Document</title>
  </head>
  <body>
    <h1>SINGLE SPACE</h1>
    <h2>USER ID = {{session['user_id']}}</h2>
    <h2>SPACE ID = {{space.id}}</h2>
    <ul>
      <li>{{space.location}} - {{space.title}}</li>
      <li>{{space.description}}</li>
      <li>{{space.tv_show}}</li>
      <li>Price Per Night £{{space.price}}</li>
    </ul>
    <form method="post" action="/bookings">
      <input type="hidden" name="space_id" value="{{ space.id }}" />
      <input type="hidden" name="user_id" value="{{ session['user_id']}}" />
      <input
        type="text"
        id="date-picker"
        name="date"
        placeholder="Pick a date"
        required
      />
      <button type="submit">Request to Book</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
      flatpickr("#date-picker", {
          minDate: "{{ space.available_from }}",
          maxDate: "{{ space.available_to }}",
          disable: {{ dates | tojson | safe }}
      })
    </script>
  </body>
</html>